.page {
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-color: rgb(171, 115, 129);
  color: white;
}

.headerDiv {
  background-color: rgb(121, 64, 78);
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.headerDiv h1 {
  font-size: 5rem;
}

.searchBar {
  display: flex;
  flex-direction: row;
  border-radius: 0.2rem;
  overflow: hidden;
  margin: 5rem 0;
  width: 30rem;
}

.searchBar input, .searchBar button {
  border: none;
  padding: 1rem;
  font-size: medium;
}

.searchBar input {
  background-color: white;
  width: 80%;
  color: black;
}

.searchBar button {
  background-color: rgb(121, 64, 78);
  flex: 1;
  flex-shrink: 0;
  cursor: pointer;
}

.searchBar button:hover {
  background: rgb(63, 33, 41);
  
}

.booksGrid {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.booksGrid p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  text-align: center;
}

.bookCard {
  background-color: rgb(121, 64, 78);
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  gap: 1rem;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.bookCard:hover {
  transform: scale(1.05);
  background: rgb(63, 33, 41);
}

.bookImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.bookShortDetails {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.bookShortDetails h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;

}

.summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 11;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookDetails {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.openCard {
  background-color: rgb(171, 115, 129);;
  color: white;
  padding: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

.openCard h1 {
  text-align: center;
}

.bookImageLarge {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.readMoreBtn {
  background-color: rgb(121, 64, 78);
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.readMoreBtn:hover {
  background: rgb(63, 33, 41);
}

.closeButton {
  background: rgb(121, 64, 78);
  color: white;
  border: none;
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.closeButton:hover {
  background: rgb(63, 33, 41);
}

@media (max-width: 768px) {
  .booksGrid {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .booksGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on very small screens */
  }
}

